h1{
  font-size: 1.6em;
  color:black;
  font-family:'Dancing Script', cursive;
  margin-left: 10px;
  color: #582a7e;
}
header{
  background-color: rgb(185, 163, 205);
  background-image: url("makeup.jpg");
  background-size: cover;
  line-height: 500%;
}
#hide
{
  display: none;
}
nav a{
  text-decoration:none;
  text-align: center;
  padding-left:20px;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 1.5em;
  padding-right: 5px;
  margin-right: 10px;
}
.a{
  float: right;
}

main{
  background-color: rgb(122, 136, 140);
}

h2{
  color: rgb(52, 86, 198);
  font-size: 2em;
}
 img{
  object-fit: cover;
  width:250px;
  height:250px;
  margin-top: 20px;
} 
#copyright{
  font-style: italic;
  text-align: center;
  margin-bottom:20px;    
}

footer {
  margin-top:10px;
  padding-top:20px;
  background-color: rgb(165, 160, 160);
}
footer p{
  color: #010101;
  padding-left: 100px;
}
footer h4 {
  font-size:25px;
  color:rgb(0, 0, 0);
  padding-left:100px;
  margin-bottom: auto;
} 

 .slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
} 

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: right;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* div.hide
{
  display: none;
} */

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
p{
  padding-left: 33%;
  padding-right: 20%;
}
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.ph{
  padding-left: 20px;
  padding-right: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.l{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.p{
  width:100%;
  height: 200px;

}
.m{
  background-color: #3c403d;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.ig{
  width: 200px;
  height: 200px;
}
.bb{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ccc;
}
.cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  padding-top:30px;
}

h3{
  margin-top: 0%;
  margin-left: 50px;
  color: navy;
} 

h4 {
  font-size: 24px;
  margin-top: 0%;
  margin-bottom: 10px;
  margin-left: 20px;
}

h1{
  font-size: 24px;
  margin-left: 50px;
}
#ig{
  margin-left: 20px;
}

button {
  background-color: #177627;
  color: #fff;
  border: none;
  padding: 10px 20px; 
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin-left: 22px;
  margin-bottom: 10px;

}

button:hover {
  background-color: #5ccd91;
  color: #333; 
}










